
{% extends "base.html" %}

{% block title %} {{ s.name }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %} {{ s.name }} <small> {{ s.serial_port }} </small> {% endblock %}

{% block content %}
{{ super() }}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Received Packets</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Board</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Data</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="packet_table_body"></tbody>
                </table>
            </div>
        </div>      
    </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Send Packets</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Select Packet</label>
                    <select id="send-packet-list" class="form-control">
                        <option value="-1">Select packet to send...</option>
                    </select>
                </div>

                <div id="send-packet-fields" class="well">

                    <div style="padding-bottom:20px" id="send-packet-inputs"></div>

                    <button type="button" class="btn btn-sm btn-primary" id="send-packet">Send</button>
                </div>
            </form>
        </div>
    </div>      
</div>

{% endblock %}

{% block scripts %}

<script src="/static/packets.js"></script>
<script src="/static/js/stream.js"></script>

<script>

    function select_packet()
    {
        var selected = parseInt($("#send-packet-list").val());

        if (packetsByAddress[selected] === undefined)
        {
            $("#send-packet-fields").hide();
        }
        else
        {
            $("#send-packet-fields").show();
            $("#send-packet-inputs").html("");

            var packet = packetsByAddress[selected];

            for (var f in packet.data)
            {
                var field = packet.data[f];
                var l = $("<label></label>").html(
                    field.name + " (" + field.type + ") - " + field.description);
                $("#send-packet-inputs").append(l);
                var i = $("<input>").addClass("form-control")
                    .attr("data-name",field.name).attr("type", "number");
                $("#send-packet-inputs").append(i);
            }
        }
    }

    function send_handler()
    {
        packet = {}
        packet.decoded = {}
        packet.address = parseInt($("#send-packet-list").val());

        var p = packetsByAddress[packet.address];

        for (var f in p.data)
        {
            var field = p.data[f];
            var val = $('input[data-name="' + field.name + '"]').val();
            packet.decoded[field.name] = val;
        }
        encodePacket(packet);
        sendPacket("{{ port }}", packet.address, false, packet.data);

    }

    function populate_packets()
    {

        for (var p in packetsByAddress) {
            packet = packetsByAddress[p];

            $("#send-packet-list").append(
                    $("<option></option>")
                        .val(p)
                        .html(p + " - " + packet.board + "_" + packet.name + " - " + packet.description));
        }

        $("#send-packet-list").change(select_packet);
        select_packet();
    }

    function get_display(data, field)
    {
        var disp = data.decoded[field].cvalue;

        if (data.decoded[field].decimals !== null) {
            disp = disp.toFixed(data.decoded[field].decimals);
        }

        disp += data.decoded[field].unit
        return disp;
    }

    function receive(data)
    {
        decodePacket(data);
        var fields = Object.keys(data.decoded);

        if (($('tr[data-address="'+data.address+'"]').length) > 0)
        {

            for (var f in fields)
            {
                var field = fields[f];
                var disp = get_display(data, field);
                $('td[data-field="' + data.address + '-' + field + '"]').html(disp);
                $('td[data-field="' + data.address + '-' + field + '"]').css("background-color", "#B0E2FF");
                $('td[data-field="' + data.address + '-' + field + '"]').animate({backgroundColor: 'transparent'}, 500);
            }

            /*$('tr[data-address="'+data.address+'"]')
                .css("background-color", "#B0E2FF");*/
            
           /* $('tr[data-address="'+data.address+'"]')
                .animate({backgroundColor: 'transparent'}, 500);*/
            
            var count = parseInt($('td[data-address-count="'+data.address+'"]').html())+1
            $('td[data-address-count="'+data.address+'"]').html(count);
        }
        else
        {
            for (var f in fields)
            {
                var field = fields[f];

                var row = $("<tr></tr>");

                if (f == 0)
                {
                    row.attr("data-address", data.address)
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.address));
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.board));
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.name));
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .attr("data-address-count", data.address)
                                   .html("1"));
                }

                row.append($("<td></td>").html(field));

                var disp = get_display(data, field);

                row.append($("<td></td>")
                                   .attr("data-field", data.address + '-' + field)
                                   .html(disp));

                $("#packet_table_body").append(row);
            }

        }
    }

    populate_packets();
    streamPackets('{{ port }}', receive);
    $("#send-packet").click(send_handler);

</script>

{% endblock %}

{% block active_menu %}stream{% endblock %}
