
{% extends "base.html" %}

{% block title %} {{ s.name }} {% endblock %}

{% block head %}
    {{ super() }}
   
    <style>
        .plot-select {
            padding-bottom: 10px;
        }
        .live-plot {
            height: 200px;
            width: 100%;
            margin-bottom: 20px;
        }
    </style>

{% endblock %}

{% block header %} {{ s.name }} <small> {{ s.serial_port }} </small> {% endblock %}

{% block content %}
{{ super() }}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Received Packets</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Board</th>
                            <th>Name</th>
                            <th>Count</th>
                            <th>Data</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="packet_table_body"></tbody>
                </table>
            </div>
        </div>      
    </div>
</div>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Live Plots</div>
        <div class="panel-body">
            <div id="plot_container">
                
            </div>
            <button id="add-plot-button" type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add Plot</button>
        </div>
    </div>      
</div>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Console Output</div>
        <div class="panel-body">
            <textarea id="console_out" style="width:100%;" rows="10" readonly="true"></textarea>
        </div>
    </div>      
</div>

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Send Packets</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>Select Packet</label>
                    <select id="send-packet-list" class="form-control input-small">
                        <option value="-1">Select packet to send...</option>
                    </select>
                </div>

                <div id="send-packet-fields" class="well">

                    <div style="padding-bottom:20px" id="send-packet-inputs"></div>

                    <button type="button" class="btn btn-sm btn-primary" id="send-packet">Send</button>
                </div>
            </form>
        </div>
    </div>      
</div>

{% endblock %}

{% block scripts %}

<script src="/static/packets.js"></script>
<script src="/static/js/stream.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/jquery.flot.time.min.js"></script>

<script>
    

var measurement_log = {};
var measurements = [];

var plot_count = 0;

var measurement_name_to_address = {};

var address_to_handler = {};

/*function update() 
{
    for (p in plots)
    {
        plots[p].update();
    }
    setTimeout(update, 1000);
}
update();*/


// ============== LIVE PLOT & LOGGING =====================

function clear_existing_handlers(plot_id)
{
    for (i in address_to_handler)
    {
        address_to_handler[i][plot_id] = null;
    }
}

function add_live_plot()
{
    var container = $("#plot_container");

    var select = $("<select></select>")
            .attr("multiple", "multiple")
            .addClass("form-control measurement-name");

    container.append($("<div></div>").addClass("plot-select").append(select));
    select.select2( {data:measurements} );
    var plot = $("<div></div>").addClass("live-plot");

    container.append(plot);

    var plot_id = plot_count;
    plot_count = plot_count + 1;

    var p = $.plot( plot, [[]], { xaxis: { mode:"time" } } );
    
    var update_fxn = function () {
        var names = select.val();
        var plot_data = [];

        var addresses = [];

        for (i in names)
        {
            var name = names[i];
            plot_data.push(measurement_log[name]);
            addresses.push(measurement_name_to_address[name]);
        }

        var refresh_fxn = function() {
            p.setData(plot_data);
            p.setupGrid();
            p.draw();
        }

        clear_existing_handlers(plot_id);

        for (i in addresses) 
        {
            if (typeof address_to_handler[addresses[i]] == "undefined") {
                address_to_handler[addresses[i]] = {}
            }

            address_to_handler[addresses[i]][plot_id] = refresh_fxn;
        }

        refresh_fxn();
    };

    select.change(update_fxn);
}

function get_measurement_name(data, field)
{
    return [data.board, data.name, field].join(".");
}

function log_new_measurement(data, field)
{
    var name = get_measurement_name(data, field)

    // Add to list of measurements received
    measurements.push({ id:name, text:name });

    // Update dropdowns with new options.
    $(".measurement-name").select2( {data:measurements} );

    measurement_name_to_address[name] = data.address;

    // Initialize and log.
    measurement_log[name] = [];
    log_measurement(data, field);
}

function log_measurement(data, field)
{ 
    var name = get_measurement_name(data, field)

    measurement_log[name].push([data.timestamp*1000, data.decoded[field].cvalue]);
    
    if (measurement_log[name].length > 1000) {
        measurement_log[name].shift();
    }
}

// ============== SENDING PACKETS =====================

function packet_select_change()
{
    var selected = parseInt($("#send-packet-list").val());

    if (packetsByAddress[selected] === undefined)
    {
        $("#send-packet-fields").hide();
    }
    else
    {
        $("#send-packet-fields").show();
        $("#send-packet-inputs").html("");

        var packet = packetsByAddress[selected];

        for (var f in packet.data)
        {
            var field = packet.data[f];
            var l = $("<label></label>").html(
                field.name + " (" + field.type + ") - " + field.description);
            $("#send-packet-inputs").append(l);
            var i = $("<input>").addClass("form-control")
                .attr("data-name",field.name).attr("type", "number");
            $("#send-packet-inputs").append(i);
        }
    }
}

function populate_packet_select()
{

    for (var p in packetsByAddress) {
        packet = packetsByAddress[p];

        $("#send-packet-list").append(
                $("<option></option>")
                    .val(p)
                    .html(p + " - " + packet.board + "_" + packet.name + " - " + packet.description));
    }

    $("#send-packet-list").change(packet_select_change);
    packet_select_change();
}

function send_packet_click()
{
    packet = {}
    packet.decoded = {}
    packet.address = parseInt($("#send-packet-list").val());

    var p = packetsByAddress[packet.address];

    for (var f in p.data)
    {
        var field = p.data[f];
        var val = $('input[data-name="' + field.name + '"]').val();
        packet.decoded[field.name] = val;
    }
    encodePacket(packet);
    sendPacket("{{ port }}", packet.address, false, packet.data);

}


// ============== RECEIVING =====================

function get_display_string(data, field)
{
    var disp = data.decoded[field].cvalue;

    if (data.decoded[field].decimals !== null) {
        disp = disp.toFixed(data.decoded[field].decimals);
    }

    disp += " " + data.decoded[field].unit
    return disp;
}

function receive(data)
{
    if (!decodePacket(data)) return;
    
    var fields = Object.keys(data.decoded);

    if (($('tr[data-address="'+data.address+'"]').length) > 0)
    {

        for (var f in fields)
        {
            var field = fields[f];

            log_measurement(data, field);

            var disp = get_display_string(data, field);
            $('td[data-field="' + data.address + '-' + field + '"]').html(disp);
            $('td[data-field="' + data.address + '-' + field + '"]').css("background-color", "#B0E2FF");
            $('td[data-field="' + data.address + '-' + field + '"]').animate({backgroundColor: 'transparent'}, 500);
        }

        /*$('tr[data-address="'+data.address+'"]')
            .css("background-color", "#B0E2FF");*/
        
       /* $('tr[data-address="'+data.address+'"]')
            .animate({backgroundColor: 'transparent'}, 500);*/
        
        var count = parseInt($('td[data-address-count="'+data.address+'"]').html())+1
        $('td[data-address-count="'+data.address+'"]').html(count);
    }
    else
    {
        for (var f in fields)
        {
            var field = fields[f];

            log_new_measurement(data, field);

            var row = $("<tr></tr>");

            if (f == 0)
            {
                row.attr("data-address", data.address)
                row.append($("<td></td>")
                               .attr("rowspan", fields.length)
                               .html(data.address));
                row.append($("<td></td>")
                               .attr("rowspan", fields.length)
                               .html(data.board));
                row.append($("<td></td>")
                               .attr("rowspan", fields.length)
                               .html(data.name));
                row.append($("<td></td>")
                               .attr("rowspan", fields.length)
                               .attr("data-address-count", data.address)
                               .html("1"));
            }

            row.append($("<td></td>").html(field));

            var disp = get_display_string(data, field);

            row.append($("<td></td>")
                               .attr("data-field", data.address + '-' + field)
                               .html(disp));

            $("#packet_table_body").append(row);
        }
    }

    if (typeof address_to_handler[data.address] != "undefined")
    {
        for (i in address_to_handler[data.address]) {
            var fxn = address_to_handler[data.address][i];
            if (fxn != null) fxn();
        }
    }
}


// ============== LIVE PLOT & LOGGING =====================

// Initialize Packet Sender
populate_packet_select();
$("#send-packet").click(send_packet_click);

// Initialize Packet Receiever
streamPackets('{{ port }}', receive);

// Initialize Live Plot stuff
$("#add-plot-button").click(add_live_plot);

</script>

{% endblock %}

{% block active_menu %}stream{% endblock %}
