
{% extends "base.html" %}

{% block title %} Logalyzer {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %} Logalyzer {% endblock %}

{% block content %}
{{ super() }}

<div class="col-lg-6">
    <h2>Upload Log</h2>
    <form>
        <div class="form-group">
            <label>Select File</label>
            <input type="file">
        </div>
    </form>
</div>

<div class="col-lg-6">
    <h2>Received Packets</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>Board</th>
                    <th>Name</th>
                    <th>Data</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="packet_table_body"></tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="/static/packets.js"></script>

<script>





    function getDisplay(data, field)
    {
        var disp = data.decoded[field].cvalue;

        if (data.decoded[field].decimals !== null) {
            disp = disp.toFixed(data.decoded[field].decimals);
        }

        disp += data.decoded[field].unit
        return disp;
    }

    function receive(data)
    {
        decodePacket(data);
        var fields = Object.keys(data.decoded);

        if (($('tr[data-address="'+data.address+'"]').length) > 0)
        {

            for (var f in fields)
            {
                var field = fields[f];
                var disp = getDisplay(data, field);
                $('td[data-field="' + data.address + '-' + field + '"]').html(disp);
            }
        }
        else
        {
            for (var f in fields)
            {
                var field = fields[f];

                var row = $("<tr></tr>");

                if (f == 0)
                {
                    row.attr("data-address", data.address)
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.address));
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.board));
                    row.append($("<td></td>")
                                   .attr("rowspan", fields.length)
                                   .html(data.name));
                }

                row.append($("<td></td>").html(field));

                var disp = getDisplay(data, field);

                row.append($("<td></td>")
                                   .attr("data-field", data.address + '-' + field)
                                   .html(disp));

                $("#packet_table_body").append(row);
            }

        }
    }


</script>

{% endblock %}